@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nhom5_ASP_DKTQDN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Nhom5_ASP_DKTQDN.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/css/home.css" rel="stylesheet" />
    
</head>
<body>
    <header>
        @* <header> *@
        <div class="header-container">
            <div class="header-logo">
                <img src="/css/logofooter_fit_tdc.png" alt="Logo">
            </div>
            <div class="header-text">
                <h1>TRƯỜNG CAO ĐẲNG CÔNG NGHỆ THỦ ĐỨC</h1>
                <p>Địa chỉ : 53 Võ Văn Ngân - Phường Linh Chiểu - Quận Thủ Đức - TP.HCM</p>
                <p>Điện thoại : 08.38970023 - 08.38972339 - 08.38966825, Fax : 08.38962474</p>
            </div>
        </div>
    @* </header> *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nhom5_ASP_DKTQDN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                                 <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ChuyenDi" asp-action="ViewDangKyChuyenDi">Đăng ký tham quan</a>
                                </li>
                        }
                       
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-secondary text-center text-white fixed-bottom">
        <div class="container">
            &copy; 2024 - Nhom5_ASP_DKTQDN
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
