@model Nhom5_ASP_DKTQDN.Models.SinhVien

@{
    ViewData["Title"] = "Thêm sinh viên";
}

<h1>Thêm sinh viên</h1>

<h4>SinhVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSinhVien">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSinhVien" class="control-label"></label>
                <input asp-for="MaSinhVien" class="form-control" />
                <span asp-validation-for="MaSinhVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSinhVien" class="control-label"></label>
                <input asp-for="TenSinhVien" class="form-control" />
                <span asp-validation-for="TenSinhVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKhoa" class="control-label"></label>
                <select asp-for="IdKhoa" class ="form-control" asp-items="ViewBag.IdKhoa"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTaiKhoan" class="control-label"></label>
                <select asp-for="IdTaiKhoan" class ="form-control" asp-items="ViewBag.IdTaiKhoan"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdKhoaHoc" class="control-label"></label>
                <select asp-for="IdKhoaHoc" class ="form-control" asp-items="ViewBag.IdKhoaHoc"></select>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
