USE [master]
GO
/****** Object:  Database [DKTQDN]    Script Date: 11/20/2024 1:26:18 PM ******/
CREATE DATABASE [DKTQDN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DangKyThamQuanDoanhNghiep', FILENAME = N'D:\PROGRAM\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DangKyThamQuanDoanhNghiep.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DangKyThamQuanDoanhNghiep_log', FILENAME = N'D:\PROGRAM\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DangKyThamQuanDoanhNghiep_log.ldf' , SIZE = 4288KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DKTQDN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DKTQDN]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDangKy]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDangKy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NgayDangKy] [datetime] NULL,
	[idSinhVien] [int] NOT NULL,
	[idChuyenDi] [int] NOT NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_ChiTietDangKy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenDi]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenDi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaChuyenDi] [varchar](30) NULL,
	[Slot] [int] NULL,
	[NgayThamQuan] [datetime] NULL,
	[TrangThai] [int] NULL,
	[HocKi] [int] NULL,
	[NamHoc] [int] NULL,
	[idGiangVien] [int] NOT NULL,
	[idDoanhNghiep] [int] NOT NULL,
	[idKhoa] [int] NOT NULL,
	[idKhoaHoc] [int] NOT NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_DangKy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhNghiep]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhNghiep](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaDoanhNghiep] [varchar](30) NULL,
	[TenDoanhNghiep] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_tblDoanhNghiep] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaGiangVien] [varchar](30) NULL,
	[TenGiangVien] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[idKhoa] [int] NOT NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [varchar](30) NULL,
	[TenKhoa] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoaHoc] [varchar](30) NULL,
	[NamBatDau] [int] NULL,
	[NamKetThuc] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_KhoaHoc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaSinhVien] [varchar](30) NULL,
	[TenSinhVien] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[idKhoa] [int] NULL,
	[idTaiKhoan] [int] NOT NULL,
	[idKhoaHoc] [int] NOT NULL,
	[is_deleted] [int] NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/20/2024 1:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiKhoan] [varchar](100) NULL,
	[MatKhau] [varchar](30) NULL,
	[Quyen] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241115015202_IdentityMigration1', N'6.0.35')
GO
SET IDENTITY_INSERT [dbo].[ChiTietDangKy] ON 

INSERT [dbo].[ChiTietDangKy] ([id], [NgayDangKy], [idSinhVien], [idChuyenDi], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, CAST(N'2014-10-01T00:00:00.000' AS DateTime), 1, 1, 0, 0, CAST(N'2024-11-18T10:41:37.323' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.323' AS DateTime))
INSERT [dbo].[ChiTietDangKy] ([id], [NgayDangKy], [idSinhVien], [idChuyenDi], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, CAST(N'2015-10-02T00:00:00.000' AS DateTime), 2, 2, 0, 0, CAST(N'2024-11-18T10:41:37.323' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.323' AS DateTime))
INSERT [dbo].[ChiTietDangKy] ([id], [NgayDangKy], [idSinhVien], [idChuyenDi], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, CAST(N'2016-10-03T00:00:00.000' AS DateTime), 3, 3, 0, 0, CAST(N'2024-11-18T10:41:37.323' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChiTietDangKy] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuyenDi] ON 

INSERT [dbo].[ChuyenDi] ([id], [MaChuyenDi], [Slot], [NgayThamQuan], [TrangThai], [HocKi], [NamHoc], [idGiangVien], [idDoanhNghiep], [idKhoa], [idKhoaHoc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'DK01', 30, CAST(N'2014-11-01T00:00:00.000' AS DateTime), 0, 1, 2022, 1, 1, 1, 1, 0, 0, CAST(N'2024-11-20T00:00:00.000' AS DateTime), 0, CAST(N'2024-11-20T00:00:00.000' AS DateTime))
INSERT [dbo].[ChuyenDi] ([id], [MaChuyenDi], [Slot], [NgayThamQuan], [TrangThai], [HocKi], [NamHoc], [idGiangVien], [idDoanhNghiep], [idKhoa], [idKhoaHoc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'DK02', 25, CAST(N'2015-11-02T00:00:00.000' AS DateTime), 0, 2, 2015, 2, 2, 2, 2, 0, 0, CAST(N'2024-11-18T10:41:37.310' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.310' AS DateTime))
INSERT [dbo].[ChuyenDi] ([id], [MaChuyenDi], [Slot], [NgayThamQuan], [TrangThai], [HocKi], [NamHoc], [idGiangVien], [idDoanhNghiep], [idKhoa], [idKhoaHoc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'DK03', 20, CAST(N'2016-11-03T00:00:00.000' AS DateTime), 1, 3, 2016, 3, 3, 3, 3, 0, 0, CAST(N'2024-11-18T10:41:37.310' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.310' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChuyenDi] OFF
GO
SET IDENTITY_INSERT [dbo].[DoanhNghiep] ON 

INSERT [dbo].[DoanhNghiep] ([id], [MaDoanhNghiep], [TenDoanhNghiep], [SoDienThoai], [DiaChi], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'DN01', N'Công ty Công nghệ ABC', N'0281234560', N'123 Đường Số 1, Quận 9, TP.HCM', 0, 0, CAST(N'2024-11-18T10:41:37.257' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.257' AS DateTime))
INSERT [dbo].[DoanhNghiep] ([id], [MaDoanhNghiep], [TenDoanhNghiep], [SoDienThoai], [DiaChi], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'DN02', N'Tập đoàn XYZ', N'0281234561', N'456 Đường Số 2, Quận Thủ Đức, TP.HCM', 0, 0, CAST(N'2024-11-18T10:41:37.257' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.257' AS DateTime))
INSERT [dbo].[DoanhNghiep] ([id], [MaDoanhNghiep], [TenDoanhNghiep], [SoDienThoai], [DiaChi], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'DN03', N'Công ty Điện tử Điện lạnh', N'0281234562', N'789 Đường Số 3, Quận 7, TP.HCM', 0, 0, CAST(N'2024-11-18T10:41:37.257' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[DoanhNghiep] OFF
GO
SET IDENTITY_INSERT [dbo].[GiangVien] ON 

INSERT [dbo].[GiangVien] ([id], [MaGiangVien], [TenGiangVien], [SoDienThoai], [idKhoa], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'GV01', N'Nguyễn Văn A', N'0912345671', 1, 0, 1, CAST(N'2024-11-18T10:41:37.273' AS DateTime), 1, CAST(N'2024-11-18T10:41:37.273' AS DateTime))
INSERT [dbo].[GiangVien] ([id], [MaGiangVien], [TenGiangVien], [SoDienThoai], [idKhoa], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'GV02', N'Nguyễn Văn B', N'0912345672', 2, 0, 1, CAST(N'2024-11-18T10:41:37.273' AS DateTime), 1, CAST(N'2024-11-18T10:41:37.273' AS DateTime))
INSERT [dbo].[GiangVien] ([id], [MaGiangVien], [TenGiangVien], [SoDienThoai], [idKhoa], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'GV03', N'Nguyễn Văn C', N'0912345673', 3, 0, 1, CAST(N'2024-11-18T10:41:37.273' AS DateTime), 1, CAST(N'2024-11-18T10:41:37.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[GiangVien] OFF
GO
SET IDENTITY_INSERT [dbo].[Khoa] ON 

INSERT [dbo].[Khoa] ([id], [MaKhoa], [TenKhoa], [SoDienThoai], [Email], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'CNTT', N'Khoa Công nghệ Thông tin', N'0281234567', N'cntt@tdc.edu.vn', 0, 0, CAST(N'2024-11-18T10:41:37.247' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.247' AS DateTime))
INSERT [dbo].[Khoa] ([id], [MaKhoa], [TenKhoa], [SoDienThoai], [Email], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'QTKD', N'Khoa Quản trị Kinh doanh', N'0281234568', N'qtkd@tdc.edu.vn', 0, 0, CAST(N'2024-11-18T10:41:37.247' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.247' AS DateTime))
INSERT [dbo].[Khoa] ([id], [MaKhoa], [TenKhoa], [SoDienThoai], [Email], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'CK', N'Khoa Cơ khí', N'0281234569', N'ck@tdc.edu.vn', 0, 0, CAST(N'2024-11-18T10:41:37.247' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.247' AS DateTime))
SET IDENTITY_INSERT [dbo].[Khoa] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoaHoc] ON 

INSERT [dbo].[KhoaHoc] ([id], [MaKhoaHoc], [NamBatDau], [NamKetThuc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'KH01', 2014, 2017, 0, 0, CAST(N'2024-11-18T10:41:37.237' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.237' AS DateTime))
INSERT [dbo].[KhoaHoc] ([id], [MaKhoaHoc], [NamBatDau], [NamKetThuc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'KH02', 2015, 2018, 0, 0, CAST(N'2024-11-18T10:41:37.237' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.237' AS DateTime))
INSERT [dbo].[KhoaHoc] ([id], [MaKhoaHoc], [NamBatDau], [NamKetThuc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'KH03', 2016, 2019, 0, 0, CAST(N'2024-11-18T10:41:37.237' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.237' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhoaHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[SinhVien] ON 

INSERT [dbo].[SinhVien] ([id], [MaSinhVien], [TenSinhVien], [SoDienThoai], [Email], [idKhoa], [idTaiKhoan], [idKhoaHoc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'SV001', N'Nguyễn Văn A', N'0123456789', N'nguyenvana@example.com', 1, 1, 1, 0, 0, CAST(N'2024-11-18T10:41:37.290' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.290' AS DateTime))
INSERT [dbo].[SinhVien] ([id], [MaSinhVien], [TenSinhVien], [SoDienThoai], [Email], [idKhoa], [idTaiKhoan], [idKhoaHoc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'SV002', N'Trần Thị B', N'0987654321', N'tranthib@example.com', 2, 2, 2, 0, 0, CAST(N'2024-11-18T10:41:37.290' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.290' AS DateTime))
INSERT [dbo].[SinhVien] ([id], [MaSinhVien], [TenSinhVien], [SoDienThoai], [Email], [idKhoa], [idTaiKhoan], [idKhoaHoc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'SV003', N'Lê Minh C', N'0912345678', N'leminhc@example.com', 3, 3, 3, 0, 0, CAST(N'2024-11-18T10:41:37.290' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([id], [TenTaiKhoan], [MatKhau], [Quyen], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'admin', N'123456', 0, 0, 0, CAST(N'2024-11-18T10:41:37.227' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.227' AS DateTime))
INSERT [dbo].[TaiKhoan] ([id], [TenTaiKhoan], [MatKhau], [Quyen], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'user2', N'123456', 1, 0, 0, CAST(N'2024-11-18T10:41:37.227' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.227' AS DateTime))
INSERT [dbo].[TaiKhoan] ([id], [TenTaiKhoan], [MatKhau], [Quyen], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'user3', N'123456', 1, 0, 0, CAST(N'2024-11-18T10:41:37.227' AS DateTime), 0, CAST(N'2024-11-18T10:41:37.227' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 11/20/2024 1:26:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/20/2024 1:26:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 11/20/2024 1:26:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 11/20/2024 1:26:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 11/20/2024 1:26:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 11/20/2024 1:26:19 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/20/2024 1:26:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChiTietDangKy]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDangKy_ChuyenDi] FOREIGN KEY([idChuyenDi])
REFERENCES [dbo].[ChuyenDi] ([id])
GO
ALTER TABLE [dbo].[ChiTietDangKy] CHECK CONSTRAINT [FK_ChiTietDangKy_ChuyenDi]
GO
ALTER TABLE [dbo].[ChiTietDangKy]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDangKy_SinhVien] FOREIGN KEY([idSinhVien])
REFERENCES [dbo].[SinhVien] ([id])
GO
ALTER TABLE [dbo].[ChiTietDangKy] CHECK CONSTRAINT [FK_ChiTietDangKy_SinhVien]
GO
ALTER TABLE [dbo].[ChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenDi_DoanhNghiep] FOREIGN KEY([idDoanhNghiep])
REFERENCES [dbo].[DoanhNghiep] ([id])
GO
ALTER TABLE [dbo].[ChuyenDi] CHECK CONSTRAINT [FK_ChuyenDi_DoanhNghiep]
GO
ALTER TABLE [dbo].[ChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenDi_GiangVien] FOREIGN KEY([idGiangVien])
REFERENCES [dbo].[GiangVien] ([id])
GO
ALTER TABLE [dbo].[ChuyenDi] CHECK CONSTRAINT [FK_ChuyenDi_GiangVien]
GO
ALTER TABLE [dbo].[ChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenDi_Khoa] FOREIGN KEY([idKhoa])
REFERENCES [dbo].[Khoa] ([id])
GO
ALTER TABLE [dbo].[ChuyenDi] CHECK CONSTRAINT [FK_ChuyenDi_Khoa]
GO
ALTER TABLE [dbo].[ChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenDi_KhoaHoc] FOREIGN KEY([idKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([id])
GO
ALTER TABLE [dbo].[ChuyenDi] CHECK CONSTRAINT [FK_ChuyenDi_KhoaHoc]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_Khoa] FOREIGN KEY([idKhoa])
REFERENCES [dbo].[Khoa] ([id])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_Khoa]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Khoa] FOREIGN KEY([idKhoa])
REFERENCES [dbo].[Khoa] ([id])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Khoa]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_KhoaHoc] FOREIGN KEY([idKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([id])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_KhoaHoc]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_TaiKhoan] FOREIGN KEY([idTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([id])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_TaiKhoan]
GO
USE [master]
GO
