body {
}

#main-bg {
    background-image: url(main-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

